#Server info - start
PORT=""
DATABASE_URI=""
MODE_ENV="development"
#Server info - end


#Authentication - start 
BCRYPT_SALT_ROUNDS="10"
OTP_LENGTH="6"
OTP_EXPIRE_IN="1d"

JWT_ACCESS_SECRET=""
JWT_ACCESS_EXPIRE_IN="1d"

JWT_REFRESH_SECRET=""
JWT_REFRESH_EXPIRE_IN="30d"

JWT_RESET_SECRET=""
JWT_RESET_EXPIRE_IN=""
#Authentication - end 


#Super Admin info
SUPER_ADMIN_EMAIL=""
SUPER_ADMIN_PASSWORD=""

#Google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL=""

#Express Session
EXPRESS_SESSION_SECRET=""

#Frontend URL
FRONTEND_URL=